
/* 全体 */
* {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	line-height: 1.0;
}
body {
	padding-bottom: 24px;
	background: #ffffff;
	overflow-x: hidden;
}
ul {
	list-style-type: none;
}

/* ヘッダ部 */
#header {
	margin-bottom: 12px;
	border-bottom: 1px solid #333333;
	background: #f0f0f0;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	position: relative;
}
h1 {
	padding-left: 24px;
	line-height: 48px;
	font-size: 20px;
}
#header_right {
	position: absolute;
	right: 16px;
	top: 0px;
	line-height: 48px;
}
#header_right span {
	margin-right: 8px;
	padding: 4px 16px;
	border: 1px solid #666666;
	border-radius: 16px / 50%;
	background: #fefefe;
	cursor: pointer;
}
#header_right .header_btn_conf {
	display: none;
}

/* タブリスト */
#main {
	width: 100%;
	padding: 0px 16px;
	display: flex;
	box-sizing: border-box;
}
.fontsize_verylarge * {
	font-size: 18px;
}
.fontsize_large * {
	font-size: 17px;
}
.fontsize_medium * {
	font-size: 14px;
}
.fontsize_small * {
	font-size: 13px;
}
.fontsize_verysmall * {
	font-size: 11px;
}
.column_block {
	flex-grow: 1;
	width: 1%;
}
.column {
	min-height: 2em;
	margin: 0px 8px;
}
.tablist_block {
	margin: 0px 0px 12px;
	padding: 0px 0px 4px;
	border: 2px solid #333333;
	border-radius: 16px;
	background: #ffffff;
	overflow: hidden;
}
.tablist_block.placeholder {
	height: 80px;
	border: 2px dashed #cccccc;
}
.tablist_title {
	padding: 8px 16px;
	background: #333333;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}
.tablist_title input {
	width: 67%;
	padding: 4px 8px;
	border: 1px solid #999999;
	border-radius: 4px;
	text-align: center;
}
.tablist {
	min-height: 2em;
	margin: 8px 0px 0px;
}
.tabitem, .listitem {
	margin: 4px 8px;
	padding: 4px 8px;
	border: 1px solid #999999;
	border-radius: 4px;
	background: #fafafa;
	color: #000000;
	line-height: 1.5;
	cursor: pointer;
}
.fontsize_small .tabitem, .fontsize_verysmall .tabitem, .fontsize_small .listitem, .fontsize_verysmall .listitem {
	padding: 2px 8px;
}
.fontsize_medium .tabitem, .fontsize_large .tabitem, .fontsize_medium .listitem, .fontsize_large .listitem {
	padding: 4px 8px;
}
.fontsize_verylarge .tabitem, .fontsize_verylarge .listitem {
	padding: 6px 8px;
}
.tabitem.single_line, .listitem.single_line {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.tabitem.placeholder {
	height: 1.5em;
	border: 2px dashed #cccccc;
	background: transparent;
}
.tabitem.old_tab {
	background: #eaeaea;
}
.tabitem.new_tab {
	background: #ffffcc;
}
.tabitem.last_tab {
	background: #ccffbb;
}
.tabitem.current_tab {
	background: #ccffbb;
}
.favicon {
	width: 1em;
	height: 1em;
	margin-right: 4px;
	vertical-align: middle;
}
.add_tab_btn {
	margin-top: 4px;
}
.add_tab_btn, .remove_list_btn {
	color: #666666;
	line-height: 1.5;
	text-align: center;
	text-decoration: underline;
}
.add_tab_text, .remove_list_text {
	cursor: pointer;
}
.close_tab_btn {
	float: right;
	width: 12px;
	height: 12px;
	margin: 4px 0px 0px 4px;
	background: url(data:image/gif;base64,R0lGODlhDAAMAIAAAP///8PDwyH5BAMKAAAALAAAAAAMAAwAAAIcRIBpGK3m4GGRnjYVrg+/tGWg441ZWZrMt7BfAQA7);
	position: relative;
}

/* サイドバー */
#sidebar .tablist_block {
	margin: 0px 0px 8px;
	border: 0px;
}
#sidebar .tablist_title {
	padding-bottom: 2px;
	background: #ffffff;
	border-radius: 0px;
	color: #000000;
}
#sidebar .remove_list_text {
	display: none;
}
#sidebar_msg {
	margin: 24px 8px;
	line-height: 1.5;
	text-align: center;
}
#otherlist_block ul {
	margin-top: 8px;
}
.hide_other_lists .tablist_title {
	text-decoration: underline;
	cursor: pointer;
}
.hide_other_lists #otherlist_block {
	display: none;
}

/* 設定画面 */
#config {
	display: none;
}
#config h2 {
	margin: 24px 24px 16px;
	font-size: 18px;
}
#config li {
	margin: 0px 24px;
	line-height: 2;
}
#config input {
	margin-right: 8px;
}
#config select {
	margin-right: 8px;
	padding: 0px 4px;
	border: 1px solid #999999;
	font-size: 14px;
}
#config button {
	padding: 6px 12px;
	border: 1px solid #999999;
	background: #f0f0f0;
	font-size: 14px;
}

/* 情報バー */
.info {
	margin: 12px 24px;
	border: 2px solid #ff9900;
	background: #fff0cc;
	border-radius: 16px;
	position: relative;
	opacity: 1;
	transition: opacity 500ms 0s ease;
	display: none;
}
.info p {
	margin: 8px 32px 8px 16px;
	line-height: 1.5;
}
.info_close {
	width: 12px;
	height: 12px;
	right: 12px;
	top: 12px;
	background: url(data:image/gif;base64,R0lGODlhDAAMAIAAAP////+ZACH5BAMKAAAALAAAAAAMAAwAAAIcRIBpGK3m4GGRnjYVrg+/tGWg441ZWZrMt7BfAQA7);
	position: absolute;
	cursor: pointer;
	display: none;
}
.info.info_closing {
	opacity: 0;
}

/* ダイアログ */
.dialog {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}
.dialog > div {
	max-width: 480px;
	margin: 0px auto 0px;
	padding: 16px 16px 16px;
	background: #fafafa;
	border: 1px solid #999999;
}
.dialog p {
	min-height: 32px;
	padding-bottom: 32px;
	line-height: 1.5;
}
.dialog > div > div {
	text-align: center;
}
.dialog button {
	width: 120px;
	height: 32px;
	margin: 4px 8px 0px;
	text-align: center;
}

